<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Korisnici</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>


<body>


<a th:href="@{/web}">
    Početna
</a>


<h1>Korisnici</h1>




<form th:action="@{/web/korisnici/pretraga}" method="get">


    <input type="text"
           name="pojam"
           placeholder="Pretraga korisnika">


    <button type="submit">
        Pretraži
    </button>


    <a th:href="@{/web/korisnici}">
        Reset
    </a>


</form>





<form th:action="${korisnik.id == null} ? @{/web/korisnici} :
                  @{/web/korisnici/update/{id}(id=${korisnik.id})}"

      th:object="${korisnik}"
      method="post">



    <input type="text"
           th:field="*{ime}"
           placeholder="Ime"
           required>



    <input type="text"
           th:field="*{prezime}"
           placeholder="Prezime"
           required>



    <input type="email"
           th:field="*{email}"
           placeholder="Email"
           required>



    <input type="password"
           th:field="*{lozinka}"
           placeholder="Lozinka"
           required>




    <select name="vrstaKorisnikaId" required>

    <option value="">
        Izaberi vrstu korisnika
    </option>

    <option th:each="v : ${vrsteKorisnika}"
            th:value="${v.id}"
            th:text="${v.naziv}">
    </option>

</select>




    <button type="submit">
        Sačuvaj
    </button>



</form>







<table>


<tr>

    <th>ID</th>

    <th>Ime</th>

    <th>Prezime</th>

    <th>Email</th>

    <th>Vrsta korisnika</th>

    <th>Akcije</th>

</tr>




<tr th:each="k : ${korisnici}">


    <td th:text="${k.id}">
    </td>



    <td th:text="${k.ime}">
    </td>



    <td th:text="${k.prezime}">
    </td>



    <td th:text="${k.email}">
    </td>



    <td th:text="${k.vrstaKorisnika.naziv}">
    </td>





    <td>


        




        <form th:action="@{/web/korisnici/{id}/obrisi(id=${k.id})}"
      method="post"
      style="display:inline">

    <button type="submit">
        Obriši
    </button>




        </form>


    </td>


</tr>


</table>


</body>

</html>